.panoramicInfoBlock{
    overflow: hidden;
    background: url('./Images/BPan.png');  
    min-height: 894px;  
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AuthAndInfoBlock{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}
.AuthAndInfoBlockHeader{
    font-family: Montserrat-Bold;
    margin-bottom: 7px;
    font-size: 22pt;
}
.AuthAndInfoBlockDisc{
    font-size: 18pt;
    margin-bottom: 50px;
    font-family: Montserrat-Reg;
}
.FactsBlock{
    min-height:507px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3A3E4E;

}
.FactsBlockGroupOne,.FactsBlockGroupTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.World, .Cup, .Lamp, .Happ{
    color: white;
    font-family: Montserrat-Reg;
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: flex-start;
}
.FactsBlockGroupTwo{
    margin-top: 100px;

}
.WorldPic, .CupPic, .LampPic, .HappPic{
    margin-right: 20px;
}

.WorldInfoHeader, .CupInfoHeader, .LampInfoHeader, .HappInfoHeader{
    margin-bottom: 2vh;
}