.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    color: #FFFFFF;
}

.links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.LinksInside {
    padding: 0px 20px;
    font-family: Montserrat-Reg;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s;
}

.LinksInside:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.Reg {
    font-family: Montserrat-Bold;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}

.LogoBold {
    font-family: Montserrat-Black;
    letter-spacing: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.Reg:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.Logo {
    font-size: 16px;
    cursor: pointer;
    font-family: Montserrat-Reg;
    letter-spacing: 3px;
    transition: 0.2s;
}

.Logo:hover {
    opacity: 0.5;
    transition: 0.2s;
}