.MButtonForm {
    padding: 0 18px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Montserrat-Bold;
    color: #FFFFFF;
    background: linear-gradient(90deg, #03DCFE 0%, #3967FF 102.46%);
    cursor: pointer;
    transition: 0.2s;
}

.MButtonForm:hover {
    transform: scale(1.02);
    transition: 0.2s;
    opacity: 50%;
}