.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.profile {
    margin-top: 100px;
    display: flex;
    font-family: Montserrat-Reg;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.profile__avatar {
    width: 250px;
    height: 250px;
    margin-right: 50px;
    border-radius: 50%;
}

.profile__info {
    display: flex;
}

.profile__content {
    margin-right: 200px;
}

.profile__name {
    font-family: Montserrat-Bold;
    font-size: 24px;
    text-transform: uppercase;
}

.profile__mail {
    color: #757D98;
    margin-bottom: 50px;
}

.profile__status {
    max-width: 400px;
    margin-bottom: 10px;
}

.profile__statistic {
    display: flex;
}

.profile__group {
    display: flex;
    margin-right: 50px;
}

.profile__group:last-child {
    margin-right: 0px;
}

.profile__icon {
    margin-right: 10px;
}

.profile__count {
    font-size: 24px;
}

.profile__functions {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.profile__btn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
}

.profile__admin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile__text {
    margin-right: 10px;
}