footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #282B36;
   
    
}
.MainInfo, .Section, .Contacts{
  
    width: 18%;
    color: white;
    font-family: Montserrat-Reg;
}
.SectionList, .ContactsList{
   
    list-style-type: none;

}
.SectionEl::before, .ContactsEl::before{
    content: url('./ListStyle.svg');
    padding-right: 5px;
}
.MainInfoTxt, .SectionList, .ContactsList{
    padding-top: 10px;

    
}
.SectionEl, .ContactsEl{
    
    padding-bottom: 10px;
}
.SectionEl{
    cursor: pointer;
}
.Span{
    font-family: Montserrat-Black;
    letter-spacing: 3px;
}
.ContactsHeader,.SectionHeader,.MainInfoHeader{
    letter-spacing: 3px;
    font-size: 16px;
}
.ContactsHeader,.SectionHeader{
    font-family: Montserrat-Bold;
}