.map {
    width: 100%;
    display: block;
    position: relative;
}

.map__text {
    width: 180px;
    font-family: Montserrat-Bold;
    font-size: 32px;
    position: absolute;
    top: 50px;
    left: calc(50% - 90px);
    text-align: center;
    background: linear-gradient(90deg, #03DCFE 0%, #3A66FF 100%, #3A66FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 25px #000000;
    z-index: 1;
}

.interface {
    max-width: 1140px;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.interface__container {
    display: flex;
    justify-content: space-between;
}

.interface__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.interface__block {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.interface__form {
    display: flex;
    margin-bottom: 25px;
}

.interface__input {
    margin-right: 25px;
    padding: 9px 13px;
    font-family: Montserrat-Reg;
    font-size: 14px;
    color: #FFFFFF;
    border: 1px solid #757D98;
    border-radius: 5px;
    background-color: #3A3E4E;
}

.interface__score {
    font-family: Montserrat-Bold;
    color: #FFFFFF;
    font-size: 24px;
}

.interface__icon {
    height: 25px;
    margin-right: 15px;
}

.interface__item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.interface__item:last-child {
    margin-bottom: 0;
}

.interface__text {
    font-family: Montserrat-Reg;
    font-size: 16px;
    color: #FFFFFF;
}

.interface__current {
    font-family: Montserrat-Reg;
    font-size: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.interface__total {
    font-family: Montserrat-Black;
    font-size: 40px;
    color: #FFFFFF;
}

.interface__paragraph {
    font-family: Montserrat-Reg;
    max-width: 600px;
    font-size: 16px;
    color: #FFFFFF;
}

.AuthAndInfoBlockHeader {
    font-family: Montserrat-Bold;
    margin-bottom: 7px;
    font-size: 22pt;
}

.AuthAndInfoBlockDisc {
    font-size: 18pt;
    margin-bottom: 50px;
    font-family: Montserrat-Reg;
}

.FactsBlock {
    min-height: 507px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3A3E4E;

}

.FactsBlockGroupOne,
.FactsBlockGroupTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.World,
.Cup,
.Lamp,
.Happ {
    color: #FFFFFF;
    font-family: Montserrat-Reg;
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: flex-start;
}

.FactsBlockGroupTwo {
    margin-top: 100px;

}

.WorldPic,
.CupPic,
.LampPic,
.HappPic {
    margin-right: 20px;
}

.WorldInfoHeader,
.CupInfoHeader,
.LampInfoHeader,
.HappInfoHeader {
    margin-bottom: 2vh;
}