.QuizItem{
    display: flex;
    align-items: center;
    font-family: Montserrat-Reg;
    color: white;
    border: #757D98 1px solid;
    border-radius: 5px;
    overflow: hidden;
}
.PicQuizItem{
    max-width: 241px;
}
.DiscPicBlock{
    display: flex;
}
.DiscTitle{
    display: flex;
    flex-direction: column;
    max-width:400px;
    text-align: left;
    align-items: flex-start;
}