@font-face {
	font-family: Montserrat-Reg;
	src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
	font-family: Montserrat-Bold;
	src: url('./fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: Montserrat-Black;
	src: url('./fonts/Montserrat-Black.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	background-color: #3A3E4E;
}