.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #757D98;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: #3A3E4E;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-image: linear-gradient(90deg, #03DCFE 0%, #3967FF 102.46%);
}

input:focus+.slider {
  box-shadow: 0 0 1px linear-gradient(90deg, #03DCFE 0%, #3967FF 102.46%);
}

input:checked+.slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
  background-color: #FFFFFF;
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Label {
  font-family: Montserrat-Reg;
  margin-left: 10px;
  color: #757D98;
}

.CheK {
  display: flex;
  align-items: center;
}