.map {
    width: 100%;
    display: block;
    min-height: 600px;
}

.interface {
    max-width: 1140px;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.interface__container {
    display: flex;
    justify-content: space-between;
}

.interface__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.interface__block {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.interface__score {
    font-family: Montserrat-Bold;
    color: #FFFFFF;
    font-size: 24px;
}

.interface__icon {
    height: 25px;
    margin-right: 15px;
}

.interface__item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.interface__item:last-child {
    margin-bottom: 0;
}

.interface__text {
    font-family: Montserrat-Reg;
    font-size: 16px;
    color: #FFFFFF;
}

.interface__current {
    font-family: Montserrat-Reg;
    font-size: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.interface__total {
    font-family: Montserrat-Black;
    font-size: 40px;
    color: #FFFFFF;
}

.interface__paragraph {
    font-family: Montserrat-Reg;
    font-size: 16px;
    color: #FFFFFF;
    max-width: 350px;
}

.AuthAndInfoBlockHeader {
    font-family: Montserrat-Bold;
    margin-bottom: 7px;
    font-size: 22pt;
}

.AuthAndInfoBlockDisc {
    font-size: 18pt;
    margin-bottom: 50px;
    font-family: Montserrat-Reg;
}

.FactsBlock {
    min-height: 507px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3A3E4E;

}

.FactsBlockGroupOne,
.FactsBlockGroupTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.World,
.Cup,
.Lamp,
.Happ {
    color: white;
    font-family: Montserrat-Reg;
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: flex-start;
}

.FactsBlockGroupTwo {
    margin-top: 100px;

}

.WorldPic,
.CupPic,
.LampPic,
.HappPic {
    margin-right: 20px;
}

.WorldInfoHeader,
.CupInfoHeader,
.LampInfoHeader,
.HappInfoHeader {
    margin-bottom: 2vh;
}